page.style {
    padding: 3px;
    font-size: 60px;
    margin: 100px;
    text-align: center;
    color: #0f6560;
}


.option{
    margin-bottom: 50px;
}

h1#title {
    margin-top: 60px;
    text-align: center;
    font-size: 90px;
    color: cadetblue;
    font-family: auto;
}

p#title_body {
    font-size: 23px;
    font-family: cursive;
    text-align: center;
}

h1#headings {
    font-size: 40px;
    text-align: center;
    color: unset;
    font-family: cursive;
    margin-top: 110px;
}

button#teacher_button {
    border-radius: 13px;
    font-size: 32px;
    background: yellowgreen;
    color: white;
    font-family: cursive;
    cursor: pointer;
    margin-left: 676px;
    padding: 6px;
}

button#student_button {
    margin-bottom: 80px;
    border-radius: 13px;
    font-size: 32px;
    background: yellowgreen;
    color: white;
    cursor: pointer;
    font-family: cursive;
    margin-left: 676px;
    padding: 6px;
}


body {background: top;font-family: cursive;}



.login_container {
    text-align: center;
    color: black;
}



div#statement {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 530;
    background: #40e0d0ad;
    border: solid;
    height: max-content;
    width: auto;
    border-radius: 10px;
    padding: 20px;
}

label {
    cursor: pointer;
    font-size: 22px;
    padding: 7px;
    background: #40e0d0ad;
    border: solid;
    border-radius: 10px;
}


div#question {
    margin-top: 100px;
    padding: 40px;
    padding-right: 400px;
}

button#previous_button,#next_button,#endTest {
    width: 12%;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    background: slategrey;
    height: 45px;
    cursor: pointer;
    margin-bottom: 0%;
}

button#previous_button {margin-left: 2%;}

button#next_button {margin-left: 70%;}

button#endTest {
    margin-left: 45%;
    margin-top: 10%;
}

tr {background: lightblue;}

table.styled-table {
    margin: auto;
}


h1#tablehead {
    color: silver;
    font-family: ui-monospace;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

thead {font-size: 25px;font-family: -webkit-body;}

tbody {
    font-size: 17px;
}






form#student_login_form {
    padding-top: 10px;
}



input {
    width: 20%;
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    height: 36px;
    border-radius: 8px;
}

.INPUT {
    display: grid;
    font-size: 25px;
    text-align: left;
    background: none;
    margin-left: 40%;
    margin-bottom: -29px;
    border: none;
}

form#teacher_login_form {
    padding-top: 40px;
}

button#login_button, #registration_button {
    border: none;
    background: navy;
    padding: 6px;
    margin-right: 40px;
    width: 20%;
    font-size: 30px;
    color: white;
    border-radius: 100px;
    margin-left: 40px;
}

h1.Conttit {
    font-size: 60px;
}

p {
    font-size: 23px;
}

.registration_container {
    margin: auto;
    text-align: center;
}



div#teacherdashboard {
    margin-top: 4%;
    text-align: center;
}

button#createTestButton,#viewresult {height: 100px;background:#0f558f ;color: azure;width: 22%;padding: 19px;font-family: cursive;margin: 61px;border-radius: 15px;font-size: 46px;}



#login_button:hover,#student_button:hover,#teacher_button:hover,#registration_button:hover,#endTest:hover,#next_button:hover,#previous_button:hover{
    background-color:#2a8adf;
}

#createTestButton,#viewresult,

button {
    cursor: pointer;
}

