/* General Styles */
body {
    background: transparent; /* Fixed invalid 'background: top' */
    font-family: 'Times New Roman', serif;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
button#downloadBtn:hover {
    opacity: 60%;
}
button#downloadBtn {
    color: white;
    background: crimson;
    position: absolute;
    top: 15%;
    right: 95px;
    border: none;
    width: 8%;
    font-size: larger;
    height: 6%;
    font-family: unset;
    border-radius: 10px;
}
#nav-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    cursor: pointer;
}

#nav-links {
    display: flex;
    gap: 28px;
    margin-left: 68%;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
}

#nav-links a:hover {
    text-decoration: underline;
}

body {
    padding-top: 60px;
}

.page.style {
    padding: 3px;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: #0f6560;
}

/* Headings */
h1#test_key_page {
    font-family: 'Times New Roman', serif;
    font-size: 59px;
    margin-top: 63px;
    margin-bottom: 63px;
    margin-left: 0;
    margin-right: 0;
}
label#testkey_ {
    margin: -8px;
    position: absolute;
    font-size: x-large;
    left: 40%;
}
h1#title {
    margin-top: 60px;
    text-align: center;
    font-size: 90px;
    color: cadetblue;
    font-family: 'Times New Roman', serif;
}

p#title_body {
    font-size: 23px;
    font-family: 'Times New Roman', serif;
    text-align: center;
}

h1#headings {
    font-size: 40px;
    text-align: center;
    color: unset;
    font-family: 'Times New Roman', serif;
    margin-top: 110px;
}

h1.Conttit {
    font-size: 60px;
}

p {
    font-size: 23px;
}

h1#tablehead {
    color: #000000;
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

h1#testCreation {
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 39px;
}

h1#afterSubmit {
    text-align: center;
    padding: 14%;
}

/* Buttons */
button#teacher_button {
    border-radius: 13px;
    font-size: 32px;
    background: yellowgreen;
    color: white;
    font-family: 'Times New Roman', serif;
    cursor: pointer;
    width: 14%;
    padding: 6px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 651px;
    margin-right: 0;
}

button#student_button {
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 651px;
    margin-right: 0;
    border-radius: 13px;
    font-size: 32px;
    background: yellowgreen;
    color: white;
    width: 14%;
    cursor: pointer;
    font-family: 'Times New Roman', serif;
    padding: 6px;
}

button#previous_button,
#next_button,
#endTest {
    font-family: 'Times New Roman', serif;
    padding: 7px;
    width: 11%;
    font-size: 23px;
    border-radius: 27px;
    color: white;
    background: slategrey;
    height: 55px;
    border: none;
    cursor: pointer;
    margin-bottom: 0%;
}

button#previous_button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 0;
}

button#next_button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70%;
    margin-right: 0;
}

button#endTest {
    margin-top: -1%;
    margin-bottom: 0;
    margin-left: 8%;
    margin-right: 0;
    position: absolute;
}

button#login_button,
#registration_button {
    border: none;
    background: navy;
    padding: 6px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    width: 20%;
    font-size: 30px;
    color: white;
    border-radius: 100px;
}

button#createTestButton,
#viewresultButton {
    height: 100px;
    background: coral;
    color: azure;
    width: 22%;
    padding: 19px;
    font-family: 'Times New Roman', serif;
    margin-top: 61px;
    margin-bottom: 61px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 15px;
    font-size: 46px;
}

button.allbutton {
    color: snow;
    height: 50px;
    font-size: 27px;
    border: none;
    width: 28%;
    border-radius: 16px;
    font-family: 'Times New Roman', serif;
    background-color: #b1b1ba;
}

button#showresultButton {
    width: 14%;
    background: cadetblue;
    height: 51px;
}

button#create_test_button {
    right: 4%;
    top: 10%;
    background: red;
    position: absolute;
    width: 13%;
}

button#add_question_button {
    right: 119px;
    width: 14%;
    position: absolute;
    background: #226b6d;
}

button#confirm_button {
    background-color: #a59c9c;
    border: none;
    padding: 10px;
    font-size: 23px;
    background: cadetblue;
    border-radius: 12px;
    color: #ffffff;
    margin-top: 14px;
}

button#start_button {
    color: white;
    background-color: #057093;
    border: none;
    margin: 13px;
    border-radius: 7px;
    font-size: 27px;
    padding: 9px;
    width: 13%;
}

button {
    cursor: pointer;
}

/* Hover Effects */
#login_button:hover,
#student_button:hover,
#teacher_button:hover,
#registration_button:hover,
#endTest:hover,
#next_button:hover,
#previous_button:hover {
    background-color: #2a8adf;
}

#createTestButton:hover,
#viewresultButton:hover {
    background-color: #ff7f505c;
    color: #00000085;
}

#showresultButton:hover {
    color: #000000ab;
    background: #5f9ea075;
}

select#sortingDrawer:hover {
    color: #000000ab;
    background: #5f9ea075;
}

#create_test_button:hover {
    color: #0000009e;
    background-color: #ff000094;
}

#add_question_button:hover {
    color: #000000a8;
    background-color: #5f9ea0a8;
}

#start_button:hover {
    color: #f0ebeb;
    background-color: #51d0fa;
}

button.allbutton:hover {
    background-color: #999;
}

button#confirm_button:hover {
    background-color: #888;
}

button#view_edit_button:hover {
    background-color: #cc0000;
}

/* Forms and Inputs */
form#student_login_form {
    padding-top: 10px;
}

form#teacher_login_form {
    padding-top: 40px;
}

form#add_question_form {padding-left: 6%;padding-right: 6%;}

input {
    width: 20%;
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    height: 36px;
    border-radius: 8px;
}

.INPUT {
    display: grid;
    font-size: 25px;
    text-align: left;
    background: none;
    margin-top: 0;
    margin-bottom: -29px;
    margin-left: 40%;
    margin-right: 0;
    border: none;
}

input.option {
    width: 16px;
}

input#testkey {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 20%;
    text-align: center;
    height: 43px;
}

input#question {
    width: -webkit-fill-available;
    padding: 16px;
}

input#opt1,
input#opt2,
input#opt3,
input#opt4 {
    width: 90%;
    padding: 0px;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

input.question-correct-answer {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 88px;
    height: 24px;
    padding: 0px;
}

#reg_student_course {
    font-size: 23px;
    border-radius: 6px;
    padding: 6px;
    font-family: 'Times New Roman', serif;
}

/* Selects */
select#sortingDrawer {
    font-family: 'Times New Roman', serif;
    padding: 2px;
    text-align: center;
    width: 21%;
    font-size: 35px;
    color: white;
    background-color: cadetblue;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

/* Containers and Layouts */
.login_container {
    text-align: center;
    color: black;
}

.registration_container {
    margin: auto;
    text-align: center;
}

div#statement {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 530;
    background: #f6fffead;
    border: solid;
    height: max-content;
    width: auto;
    border-radius: 10px;
    padding: 20px;
}

div#question {
    margin-top: -29px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 400px;
    padding-left: 10%;
    padding-top: 3%;
}

div#teacherdashboard {
    margin-top: 4%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

div#keyTag {
    font-family: auto;
    font-size: 24px;
    text-align: center;
}

div#container {
    display: none;
    padding: 21px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 31%;
    margin-right: 0;
    border-radius: 20px;
    border: solid;
    width: 34%;
    height: 323px;
}

#TestKeyBox {
    left: 33px;
    top: 10%;
    position: absolute;
}

/* Stats Section - Removed duplicates */
.Stats {
    width: 15%;
    height: 34%;
    margin-top: 19%;
    margin-bottom: 0;
    margin-left: 75%;
    margin-right: 0;
    padding: 2%;
    position: absolute;
}

div#status {
    margin-top: 9%;
    margin-bottom: 0;
    margin-left: 74%;
    margin-right: 0;
    height: 169px;
    width: 17%;
    border: solid;
    text-align: center;
}

p#head {
    font-size: 46px;
    margin-top: -5%;
    font-family: 'Times New Roman', serif;
    font-weight: 700;
}

p#ans {
    color: green;
    padding-top: 7px;
}

p#unans {
    color: red;
}

/* Tables */
table.styled-table {
    margin: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Times New Roman', serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    background-color: #f3f3f3;
}

.key-table th {
    background-color: #f61515;
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-family: 'Times New Roman', serif;
}

.key-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.key-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.key-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.key-table tbody tr:hover {
    background-color: #ddd;
}

tr {
    background: lightblue;
}

thead {
    font-size: 25px;
    font-family: 'Times New Roman', serif;
}

tbody {
    font-size: 17px;
}

/* Navigation */
#questionNav {
    position: absolute;
    margin-top: 7%;
    margin-bottom: 20px;
    margin-left: 77%;
    margin-right: 0;
    width: 18%;
    height: auto;
    text-align: center;
}

#questionNav h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.nav-button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 40px;
    height: 40px;
}

.nav-button.answered {
    background-color: #4CAF50; /* Green for answered */
    color: white;
}

.nav-button.unanswered {
    background-color: #f44336; /* Red for unanswered */
    color: white;
}

.nav-button:hover {
    opacity: 0.8;
}

/* Options */
.option {
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}

/* Labels */
label {
    outline: 144px;
    cursor: pointer;
    font-size: 22px;
    padding: 7px;
    border-radius: 10px;
}

/* Edit Container Styles - Matching Creation Form */
#edit_container {
    display: none;
    text-align: center;
}

#edit_container h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

#edit_question_display {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#edit_question_form {
    padding: 2%;
}

#edit_question_form label {
    display: inline;
    font-size: 22px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

#edit_question_form input[type="text"] {
    width: -webkit-fill-available;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 8px;
    font-size: 20px;
    height: auto;
}

#edit_question_form input#edit_opt1,
#edit_question_form input#edit_opt2,
#edit_question_form input#edit_opt3,
#edit_question_form input#edit_opt4 {
    width: 90%;
    padding: 0px;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
}

#edit_question_form h2 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 34px;
    margin-right: 0;
    font-size: 20px;
}

#edit_question_form label input[type="radio"] {
    margin-right: 5px;
    width: 16px;
    height: 24px;
}

#edit_question_form button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    border: none;
    width: 13%;
    border-radius: 16px;
    font-family: 'Times New Roman', serif;
    color: snow;
    height: 50px;
    cursor: pointer;
}

/* Specific button colors */
#edit_question_form button[onclick*="saveEdit"] {
    background-color: #4CAF50; /* Green for Save */
}

#edit_question_form button[onclick*="saveEdit"]:hover {
    background-color: #45a049;
}

#edit_question_form button[onclick*="deleteQuestion"] {
    background-color: #f44336; /* Red for Delete */
}

#edit_question_form button[onclick*="deleteQuestion"]:hover {
    background-color: #da190b;
}

#edit_question_form button[onclick*="prevEditQuestion"],
#edit_question_form button[onclick*="nextEditQuestion"] {
    background-color: #2196F3; /* Blue for Navigation */
}

#edit_question_form button[onclick*="prevEditQuestion"]:hover,
#edit_question_form button[onclick*="nextEditQuestion"]:hover {
    background-color: #0b7dda;
}
button#view_edit_button {
    left: 89px;
    width: 15%;
    position: absolute;
    height: 57px;
    background: red;
    bottom: 2%;
}
